<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        https://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop
        https://www.springframework.org/schema/aop/spring-aop.xsd">

    <!--开启注解的支持 -->
    <context:annotation-config/>

    <!-- 注册bean -->
    <bean id="userService" class="com.yr.service.UserServiceImpl"/>
    <bean id="diyPointCut" class="com.yr.diy.DiyPointCut"/>

    <!-- 方式二：使用自定义类 -->
    <aop:config>
        <!--定义切面 ref:引用的类 -->
        <aop:aspect ref="diyPointCut">
            <!--切入点 -->
            <aop:pointcut id="point" expression="execution(* com.yr.service.UserServiceImpl.*(..))"/>
            <!--通知 -->
            <aop:before method="before" pointcut-ref="point"/>
            <aop:after method="after" pointcut-ref="point"/>

        </aop:aspect>
    </aop:config>

</beans>