<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yr.dao.BooksMapper">

    <!-- 增加一本书 -->
    <insert id="addBook" parameterType="Books">
        insert into ssmbuild.books(bookName, bookCounts, detail)
        values (#{bookName}, #{bookCounts}, #{details})
    </insert>
    
    <!-- 根据ID删除一本书
       对于基本数据类型而言，如果我们这里写int，数据库识别的是 Integer，所以我们要写 _int
       但是java可以自动拆装箱，所以我们这里只写int也可以
    -->
    <delete id="deleteBookId" parameterType="_int">
        delete from ssmbuild.books where bookID = #{bookID}
    </delete>

    <!--更新书 -->
    <update id="updateBook" parameterType="Books">
        update ssmbuild.books
            set bookName = #{bookName}, bookCounts = #{bookCounts},detail = #{detail}
            where bookID = #{bookID}
    </update>

    <!--根据ID查询，返回一本书 -->
    <select id="queryBookById" parameterType="_int" resultType="Books">
        select * from ssmbuild.books
        where bookID = #{bookID}
    </select>

    <!--查询所有的书 -->
    <select id="queryAllBook" resultType="Books">
        SELECT * from ssmbuild.books
    </select>


</mapper>