<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<!--namespace: 绑定一个对应的DAO/MAPPER接口-->
<mapper namespace="com.yr.dao.UsersMapper">

    <!--select 查询语句
     id: 方法名称
     resultType:返回结果类型(返回结果要写全限命名)-->
    <select id="selectUsers" resultType="com.yr.pojo.Users">
        select * from jdbcstudy.users
    </select>

</mapper>